<header>
  <h1 class="heading">
    <a href="index.html">
      CARAVAN
    </a>
  </h1>
  <div class="social">
    <i class="fab fa-facebook-square"></i>
    <i class="fab fa-twitter-square"></i>
    <i class="fab fa-instagram"></i>
  </div>
</header>

